<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Network Device Command Runner</title>
</head>

<body>
  <form method="post">
    <!-- IP: <input name="ip"><br>
    Username: <input name="username"><br>
    Password: <input name="password" type="password"><br> -->
    Command: <input name="command"><br>
    <button type="submit" class="btn btn-success">Run</button>
  </form>
  <pre class="bg-dark text-light p-3 rounded">{{ output }}</pre>
</body>

</html>